* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header.masthead {
  padding: 8rem 0;
  min-height: 100vh;
}

header.masthead h1 {
  font-size: 3.5rem;
}

.kendoShowcase, .iaidoShowcase, .jodoShowcase {
  position: relative;
  min-height: 720px;
  isolation: isolate;
}

.kendoShowcase {
  background: url("../public/img/kendo.jpg") no-repeat center center;
  background-size: cover;
}

div.iaidoShowcase {
  background: url("../public/img/iaido.jpg") no-repeat center center;
  background-size: cover;
}

div.jodoShowcase {
  background: url("../public/img/jodo.jpg") no-repeat center center;
  background-size: cover;
}

.kendoShowcase::after, .iaidoShowcase::after, .jodoShowcase::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: grey;
  opacity: 0.8;
}

.vl {
  border-left: 2px solid green;
  height: 80px;
}